
ErrorDocument 400 /Error/400/index.php
ErrorDocument 403 /Error/403/index.php
ErrorDocument 404 /Error/404/index.php
ErrorDocument 413 /Error/413/index.php
ErrorDocument 500 /Error/500/index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^www\.activetk\.jp$ [OR]
RewriteCond %{HTTP_HOST} ^activetk\.jp$
RewriteRule (.*) index.php/?%{QUERY_STRING}&request=$1 [L]

<Files ~ "^(\.)">
deny from all
</Files>
<Files ~ "(\.old)$">
deny from all
</Files>

AddDefaultCharset UTF-8
